/**
 * Open Sans
 */

@font-face {
    font-family: 'Open Sans';
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url('#{$font-path}/opensans-light.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('#{$font-path}/opensans-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('#{$font-path}/opensans-semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('#{$font-path}/opensans-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-stretch: normal;
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('#{$font-path}/opensans-extrabold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-stretch: normal;
    font-style: italic;
    font-weight: 300;
    src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('#{$font-path}/opensans-lightitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('#{$font-path}/opensans-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-stretch: normal;
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('#{$font-path}/opensans-semibolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('#{$font-path}/opensans-bolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-stretch: normal;
    font-style: italic;
    font-weight: 800;
    src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('#{$font-path}/opensans-extrabolditalic.ttf') format('truetype');
}
