/**
 * Colors
 * White, gray, black and brand colors for use across Bootstrap.
 */

$inch-worm             : #bdff67; // Primary
$conifer               : #9cd255; // Primary
$atlantis              : #97cc52; // Primary

$black                 : #000000 !default; // Basic
$gray-chateau          : #a5a5a5;  // Basic
$pumice                : #c6c6c6; // Basic
$platinum              : #e3e3e3; // Basic
$lily-white            : #ebebeb; // Basic
$white-smoke           : #f5f5f5; // Basic
$white                 : #ffffff !default; // Basic

/**
 * Bootstrap colors
 */
$brand-primary         : $inch-worm !default;
$brand-primary-dark    : $conifer !default;
$brand-primary-darker  : $atlantis !default;

$gray-darker           : $gray-chateau !default;
$gray-dark             : $pumice !default;
$gray                  : $platinum !default;
$gray-light            : $lily-white !default;
$gray-lighter          : $white-smoke !default;

/**
 * Fonts
 */
$font-path             : '../fonts';
$icon-font-path        : $font-path; // For Bootstrap

/**
 * Images
 */
$image-path            : '../images';

/**
 * Media queries breakpoint
 */
// Extra Extra small screen / phone (iPhone 5 > iPhone 6 / iPhone 7)
$screen-xxs            : 320px !default;
$screen-xxs-min        : $screen-xxs !default;
$screen-xxs-phone      : $screen-xxs-min !default;

// Extra small screen / phone (iPhone 6 Plus / 7 Plus)
$screen-xs             : 414px !default; // 480px
$screen-xs-min         : $screen-xs !default;
$screen-phone          : $screen-xs-min !default;

 // Small screen / tablet
$screen-sm             : 768px !default;
$screen-sm-min         : $screen-sm !default;
$screen-tablet         : $screen-sm-min !default;

 // Medium screen / desktop
$screen-md             : 992px !default;
$screen-md-min         : $screen-md !default;
$screen-desktop        : $screen-md-min !default;

 // Large screen / wide desktop
$screen-lg             : 1200px !default;
$screen-lg-min         : $screen-lg !default;
$screen-lg-desktop     : $screen-lg-min !default;

 // So media queries don't overlap when required, provide a maximum
$screen-xxs-max        : ($screen-xs-min - 1) !default;
$screen-xs-max         : ($screen-sm-min - 1) !default;
$screen-sm-max         : ($screen-md-min - 1) !default;
$screen-md-max         : ($screen-lg-min - 1) !default;

/**
 * Grid
 */
$grid-gutter-width     : 20px !default;
$small-phone           : $screen-xxs-min;
$phone                 : $screen-xs-min;
$tablet                : $screen-sm-min;
$desktop               : $screen-md-min;
$wide-desktop          : $screen-lg-min;

/**
 * Scaffolding
 * Settings for some of the most global styles.
 */
$body-bg               : $white !default; // Background color for body.
$text-color            : $black !default; // Global text color on body.
$link-color            : $brand-primary !default; // Global textual link color.
$link-hover-color      : $link-color; // Link hover color
$link-hover-decoration : underline !default; // Link hover decoration.
$base-ratio            : 1.618; // Golden Ratio
$base-spacing          : 20px;
$base-border-radius    : 4px;
$base-font-family      : 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size        : 16px !default; // 16px = 1em
$base-font-size-small  : 14px;
$computed-spacing      : $base-font-size * $base-ratio;
$line-height-computed  : floor($computed-spacing) !default; // Computed line-height for use with margin, padding, etc
